.alert-margin{
	margin-top:10px;
	margin-bottom:-10px;
}
.text-color{
	color:red;
}
.thmb-width{
	height:150px !important;
}
.thmb-height{
	height:200px !important;
	width:300px !important; 
}
.dashboardstyle{
	color:white !important;
	text-align:center;
	font-size:25px !important;
}
.header-alignment{
	margin-top:10px;
	margin-bottom:20px;
}